.root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-position: 33% 45%;
    -fx-background-size: auto;
}

.text-field {
    -fx-text-fill: #25516b;
    -fx-font: bold 16px "Montserrat";
    -fx-background-color: rgba(180, 200, 220, 0.6);
    -fx-background-radius: 8px;
    -fx-border-color: rgba(235, 235, 235, 0.73);
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: rgba(12, 38, 55, 0.45);
}

.button {
    -fx-background-color: rgba(158, 158, 158, 0.75);
    -fx-font: italic bold 15px "Montserrat";
}

.button:hover {
    -fx-background-color: rgba(129, 160, 207, 0.75);
    -fx-font-size: 17px;
}

.button:pressed {
    -fx-background-color: rgba(97, 141, 197, 0.85); 
    -fx-font-size: 19px;
}

.scroll-pane {
    -fx-background-color: rgba(150, 200, 250, 0.4);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: rgba(200, 200, 200, 0.65);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(90, 150, 190, 0.6);
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
